
@{
    ViewData["Title"] = "Index";
}


<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center mt-lg-5">
            <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                <a asp-action="EkstraMalzemeListesi" class="btn btn-outline-success">Ekstra Malzeme Listesi</a>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                <a asp-action="MenuListesi" class="btn btn-outline-success">Menu Listesi</a>
            </div>
        </div>
    </div>

</div>

